@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* .app-layout {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(14, 1fr);
}
.header-layout {
  grid-column: 2/-1;
}
.sidebar-layout {
  grid-column: 1/2;
  grid-row: 1/-1;
}
.main-layout {
  grid-column: 2/-1;
  grid-row: 2/-1;
} */

/* surface duo */
@media screen and (min-width: 530px) and (max-width: 550px) {
  .hamburger_position_open {
    margin-left: 12rem;
  }
  .hamburger_position_close {
    margin-left: 1rem;
  }
}
/* iphone xr */
@media screen and (min-width: 410px) and (max-width: 430px) {
  .hamburger_position_open {
    margin-left: 9rem;
  }
  .hamburger_position_close {
    margin-left: 1rem;
  }
}

/* scrollbar style */
.styled-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  border-radius: 10px;
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: #f2f5ff; /* Color of the track */
  border-radius: 10px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #2c3d8f; /* Color of the scrollbar thumb */
}

.arrow_animate {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-20%);
    animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(0);
    animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

/* spinner */
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #cddeff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  animation: pulse 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  border: 5px solid #cddeff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: scaleUp 1s linear infinite;
}

@keyframes scaleUp {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  60%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
@keyframes pulse {
  0%,
  60%,
  100% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.2);
  }
}
